---
layout: hero
title: "Code of Conduct"
---

<div class="wrapper">

<h1>Rust Belt Rust Conference Code of Conduct</h1>

<p>Adapted from <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism</a></p>

<h2>Contact</h2>

<ul>
<li>Email: <a href="mailto:organizers@rust-belt-rust.com">organizers@rust-belt-rust.com</a></li>
<li>Twitter: <a href="https://twitter.com/rustbeltrust">@rustbeltrust</a></li>
<li>Slack: <a href="https://rust-belt-rust-slack.herokuapp.com">Join here</a> and see the #ask-an-organizer channel to quickly find an organizer.</li>
<li>Phone/text: 412-423-8664.</li>
<li>In person: Organizers will be wearing a different color conference t-shirt.</li>
</ul>

<h2>Policy</h2>

<p>
Rust Belt Rust is dedicated to providing a harassment-free conference
experience for everyone, regardless of gender, gender identity and expression,
sexual orientation, disability, physical appearance, body size, race, age or
religion. We do not tolerate harassment of conference participants in any form.
Sexual language and imagery is not appropriate for any conference venue,
including talks. Conference participants violating these rules may be
sanctioned or expelled from the conference without a refund at the discretion
of the conference organizers.
</p>
<p>
Harassment includes, but is not limited to:
</p>

<ul>
<li>Verbal comments that reinforce social structures of domination related to
  gender, gender identity and expression, sexual orientation, disability,
  physical appearance, body size, race, age, or religion.</li>
<li>Sexual images in public spaces</li>
<li>Deliberate intimidation, stalking, or following</li>
<li>Harassing photography or recording</li>
<li>Sustained disruption of talks or other events</li>
<li>Inappropriate physical contact</li>
<li>Unwelcome sexual attention</li>
<li>Advocating for, or encouraging, any of the above behaviour</li>
</ul>

<h2>Enforcement</h2>

<p>
Participants asked to stop any harassing behavior are expected to comply
immediately. Exhibitors in the expo hall, sponsor or vendor booths, or similar
activities are also subject to the anti-harassment policy. In particular,
exhibitors should not use sexualized images, activities, or other material.
Booth staff (including volunteers) should not use sexualized
clothing/uniforms/costumes, or otherwise create a sexualized environment.
</p>
<p>
If a participant engages in harassing behaviour, event organisers retain the
right to take any actions to keep the event a welcoming environment for all
participants. This includes warning the offender or expulsion from the
conference with no refund.
</p>
<p>
Event organisers may take action to redress anything designed to, or with the
clear impact of, disrupting the event or making the environment hostile for any
participants.
</p>
<p>
We expect participants to follow these rules at all event venues and
event-related social activities. We think people should follow these rules
outside event activities too!
</p>

<h2>Reporting</h2>
<p>
If someone makes you or anyone else feel unsafe or unwelcome, please report it
as soon as possible. Conference staff can be identified by their t-shirts and
special badges. Harassment and other code of conduct violations reduce the
value of our event for everyone. We want you to be happy at our event. People
like you make our event a better place.
</p>
<p>
You can make a personal report by:
</p>

<ul>
<li>Calling or messaging this phone number: 412-423-8664. This phone number will
  be continuously monitored for the duration of the event.</li>
<li>Contacting a staff member, identified by STAFF badges, buttons, or shirts.</li>
</ul>

<p>
When taking a personal report, our staff will ensure you are safe and cannot be
overheard. They may involve other event staff to ensure your report is managed
properly. Once safe, we'll ask you to tell us about what happened. This can be
upsetting, but we'll handle it as respectfully as possible, and you can bring
someone to support you. You won't be asked to confront anyone and we won't tell
anyone who you are.
</p>
<p>
Our team will be happy to help you contact hotel/venue security, local law
enforcement, local support services, provide escorts, or otherwise assist you
to feel safe for the duration of the event. We value your attendance.
</p>

<h2>Contact information</h2>

<ul>

<li>Organizers: <a href="mailto:organizers@rust-belt-rust.com">organizers@rust-belt-rust.com</a>, <a href="https://twitter.com/rustbeltrust">@rustbeltrust</a>, #ask-an-organizer on <a href="https://rust-belt-rust-slack.herokuapp.com">Slack</a>, or call or text 412-423-8664.</li>
<li>Residence Inn Columbus Downtown: 614-222-2610</li>
<li>The Columbus Athenaeum: 614-222-6338</li>
<li>Local law enforcement: City of Columbus Police - call 911</li>
<li>Sexual assault hotline: <a href="https://www.ohiohealth.com/services/neuroscience/our-programs/behavioral-and-mental-health/sarnco/">OhioHealth Sexual Assault Response Network of Central Ohio (SARNCO)</a>: 614-267-7020</li>
<li>Medical Emergency: Call 911</li>
<li>Local taxi company: Lyft, Uber, <a href="https://yellowcabofcolumbus.com/">Columbus Yellow Cab</a> - 614-444-4444, <a href="http://www.columbustaxiservice.com/">Columbus Taxi Service</a> - 614-262-4444</li>
</ul>

</div>