---
layout: hero
title: "RBR2016"
---

<div class="wrapper">

<h1>Previous Conferences</h1>

<div>
  <h2>2016</h2>

  <p>
    The 2016 conference took place on October 27th & 28th, 2016 in
    Pittsburgh, PA, USA and was attended by 150 Rust developers.
  </p>

  <p>
    Make sure to check out <a href="http://conf2016.rust-belt-rust.com/sessions/">the materials</a> and <a href="https://www.youtube.com/playlist?list=PLgC1L0fKd7UmdG82JOEE0uzXci1XY61xU">the videos</a> for each talk. The entire <a href="http://conf2016.rust-belt-rust.com/">archived 2016 website</a> is also available.
  </p>
</div>

</div>
