---
layout: hero
title: "Sessions"
---

<div class="wrapper">
  {% assign workshops = site.talks | where:'kind', 'workshop' | sort: 'start' %}
  {% assign talks = site.talks | where:'kind', 'talk' | sort:'start' %}

  <h1>Schedule</h1>

  <section>
    {% assign all_day = workshops | where:'length', 'all day' %}
    {% assign half_day = workshops | where:'length', 'half day' | group_by: 'room' %}

    <h2>Thursday Workshops</h2>

    <p>
      Gather in the Athenian room at 8:30am to meet fellow Rustaceans,
      find out what they're interested in, and celebrate the social
      contract of this conference! Figure out what to do if you're not
      sure and learn about the rule of two feet.
    </p>

    <table class="schedule schedule--workshops">
      <thead>
        <tr>
          <th>Room</th>
          <th>Morning (9am - 12pm)</th>
          <th>Afternoon (2pm - 5pm)</th>
        </tr>
      </thead>
      <tbody>
        {% for w in half_day %}
          <tr>
            <td>{{w.name}}</td>
            {% for w2 in w.items %}
              <td><a href="#details-{{ w2.id | split: '/' | last }}">{{w2.title}}</a></td>
            {% endfor %}
          </tr>
        {% endfor %}
        {% for w in all_day %}
          <tr>
            <td>{{w.room}}</td>
            <td colspan="2"><a href="#details-{{ w.id | split: '/' | last }}">{{w.title}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    {% assign fri_sched = talks | concat: site.data.other_talks | sort: 'start' %}

    <h2>Friday Talks</h2>
    <table class="schedule schedule--talks">
      <tbody>
        {% for talk in fri_sched %}
          <tr>
            <th>{{ talk.start | date: '%l:%M %p' }}</th>
            {% if talk.id %}
            <td><a href="#details-{{ talk.id | split: '/' | last }}">{{ talk.title }}</td>
            {% else %}
            <td>{{ talk.title }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <h1>Workshops</h1>

  {% for talk in workshops %}
    {% include talk.html talk=talk %}
  {% endfor %}

  <h1>Talks</h1>

  {% for talk in talks %}
    {% include talk.html talk=talk %}
  {% endfor %}

  <p>
    Excited by what you see here? We'd love for you to join us!
  </p>

  <p><a class="call-to-action" href="https://www.eventbrite.com/e/rust-belt-rust-conference-2017-registration-36237335847">Buy Tickets</a></p>

</div>
