---
layout: hero
title: "Sponsors"
---

<div class="wrapper">
  <h1>Sponsors</h1>
  <p>
    Thank you to our wonderful sponsors! This conference wouldn't be
    possible without their support.
  </p>

  <div class="sponsors">
    <h2>Steel</h2>
    <p>3 Steel sponsorships still available!</p>
  </div>

  <div class="sponsors">
    <h2>Gold</h2>
    <p class="sponsors__logo">
      <a href="https://www.habitat.sh/">
        <img src="/assets/habitat.png" alt="Habitat" />
      </a>
    </p>
    <p class="sponsors__logo">
      <a href="https://facebook.com/">
        <img src="/assets/facebook.png" alt="Facebook" />
      </a>
    </p>
    <p class="sponsors__logo">
      <a href="https://mozilla.com/">
        <img src="/assets/mozilla.png" alt="Mozilla" />
      </a>
    </p>
  </div>

  <div class="sponsors">
    <h2>Silver</h2>
    <p class="sponsors__logo">
      <a href="https://www.distilnetworks.com/">
        <img src="/assets/distil.png" alt="Distil Networks" />
      </a>
    </p>
  </div>

  <div class="sponsors">
    <h2>Bronze</h2>
    <p class="sponsors__logo">
      <a href="https://www.braintreepayments.com/">
        <img src="/assets/braintree.png" alt="Braintree" />
      </a>
    </p>
    <p class="sponsors__logo">
      <a href="https://travis-ci.org/">
        <img src="/assets/travis-ci.png" alt="TravisCI" />
      </a>
    </p>
  </div>

  <div class="sponsors">
    <h2>Diversity Scholarships</h2>

    <p class="sponsors__logo">
      <a href="http://integer32.com/">
        <img src="/assets/integer32.png" alt="Integer32" />
      </a>
    </p>
  </div>

  <div class="sponsors">
    <h2>Individual Sponsors</h2>

    <ul>
      <li>Justin Geibel</li>
      <li>Rob Tsuk</li>
    </ul>
  </div>

  <p>
    Sponsoring Rust Belt Rust is a great way to get your company's
    name in front of developers who are excited about making software
    better. Become a sponsor today!
  </p>

  <p>
    <a class="call-to-action" href="/assets/rust-belt-rust-2017-sponsorship-prospectus.pdf">
      Sponsorship Prospectus
    </a>
  </p>
</div>
