<div class="speaker">
  <h3 class="speaker__info">
    <span class="speaker__name">{{ talk.speaker }}</span>
    {% if talk.twitter %}
      <a class="speaker__twitter" href="https://twitter.com/{{ talk.twitter }}">
        {% include icon-twitter.svg %}
      </a>
    {% endif %}
    {% if talk.website %}
      <a class="speaker__website" title="{{ talk.website }}" href="{{ talk.website }}">
        {% include globe.svg %}
      </a>
    {% endif %}
  </h3>
  <div class="speaker__x">
    <img class="speaker__headshot" src="/assets/speakers/200-{{ talk.headshot }}" />
    <p class="speaker__bio">{{ talk.bio }}</p>
  </div>
</div>
