<div class="talk" id="details-{{ talk.id | split: '/' | last }}">
  <h2 class="talk__title">
    <span>{{ talk.title }}</span>
    <span>{{ talk.start | date: '%l:%M %p' }} - {{ talk.end | date: '%l:%M %p' }}</span>
  </h2>
  <div class="talk__abstract">{{ talk.output }}</div>
  <div class="talk__speaker">
    {% include speaker.html talk=talk %}
  </div>
</div>
