---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    border-top: 0;
    background: #eee;
}

.site-footer {
    background: #eee;
}

.site-title {
    font-weight: 900;
}

.page-content {
    flex: 1 1 auto;

    h1 {
        font-size: 2.1em;
        margin-bottom: 1em;
    }

    &--home {
        padding: 0 0 30px 0;
        background-color: #181818;
        color: mintcream;

        a:link,
        a:visited,
        a:active {
            color: #99C1C2;
        }

        a:hover {
            color: #BDD7D8;
        }
    }
}

.hero {
    margin: 0 0 1em 0;

    &__image {
      background: url({{ site.url }}/assets/columbus-skyline-bg.jpg) no-repeat center center fixed;
      background-size: cover;
      height: 20em;

      @include media-query($on-laptop) {
          background-attachment: scroll;
      }
    }
}

.hero-attribution {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0.8em;
}

// Mailchimp
#mc_embed_signup {
    background: inherit !important;
    font: inherit !important;
}

.speakers {
    &__featured {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        // Ugh. Copied from the existing style for `p` tags, which
        // everything else implicitly uses
        margin-bottom: 15px;
    }
}

.featured_speaker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 225px;
}

// The `a` is needed to beat the precedence of the link colors above.
a.call-to-action {
    display: inline-block;

    border-radius: 0.5em;
    background-color: #6850FF;
    padding: 1em;
    font-weight: bold;

    &:link,
    &:visited,
    &:active {
        color: #E9E9E9;
    }

    &:hover {
        color: #FFFFFF;
    }
}

.divided_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__piece {
        text-align: center;
        flex: 1 0 auto;

        &:not(:last-child) {
            padding-right: 0.1em;
        }
    }
}

.home {
    h2 {
        font-size: 2em;
    }

    .speakers, .tickets, .diversity, .sponsorship, .lodging, .childcare, .conduct {
        margin: 75px 0;
    }
}

.sponsors {
  h2 {
    border-bottom: 1px solid lightgray;
  }

  & ~ & {
    margin-top: 3em;
  }

  &__logo {
    max-width: 350px;
  }
}

.schedule {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  & tbody td {
    padding: 0.25em 0;// 0.25em 1em;
  }

  & tbody tr:nth-child(odd) {
    background-color: rgba(lightgrey, 0.2);
  }

  &--talks th {
    padding-right: 1em;
  }
}

.talk {
  background: darken(aliceblue, 10%);
  padding: 1em;
  margin: 0 0 3em 0;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__abstract {
    padding: 0.5em;
    background: aliceblue;
    border-radius: 0.1em;
    margin: 0 0 1em 0;
  }

  &__speaker {
    background: beige;
    border-radius: 0.1em;
  }

  // Yeah, this is nasty CSS leaking from outside
  p:last-child {
    margin-bottom: inherit;
  }
}

.speaker {
  padding: 1em;

  &__twitter {
    &:hover {
      text-decoration: none;

      svg path {
        fill: #2a7ae2;
      }
    }
  }

  &__website {
    &:hover {
      text-decoration: none;

      svg path {
        stroke: #2a7ae2;
      }
    }
  }

  &__x {
    display: flex;

    & > *:not(:first-child) {
      margin-left: 1em;
    }

    @include media-query($on-laptop) {
      display: inherit;

      & > *:not(:first-child) {
        margin-left: inherit;
        margin-top: 1em;
      }
    }
  }

  &__headshot {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
  }
}
