<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <main class="page-content page-content--{{ page.id }}" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
