---
layout: hero
---

<div class="home">
  <div class="hero">
    <div class="hero__image"></div>
  </div>

  <div class="home__content wrapper">
    <h1 class="divided_header">
      <span class="divided_header__piece">Rust Belt Rust</span>
      <span class="divided_header__piece">Oct 26 &amp; 27 2017</span>
      <span class="divided_header__piece">Columbus OH</span>
    </h1>

    <p>
      Rust Belt Rust 2017 will take place on Thursday October 26 &amp; Friday
      October 27 at <a href="http://www.columbusmeetings.com/">The
      Columbus Athenaeum</a> in historic Columbus Ohio.
    </p>

    <div class="speakers">
        <h2>Featured Speakers</h2>
        <div class="speakers__featured">
            <div class="featured_speaker">
                <span class="featured_speaker__name">Nell Shamrell-Harrington</span>
                <img class="featured_speaker__image" src="/assets/nell-shamrell-harrington.jpg" alt="Nell Shamrell-Harrington" />
            </div>
            <div class="featured_speaker">
                <span class="featured_speaker__name">Emma Gospodinova</span>
                <img class="featured_speaker__image" src="/assets/emma-gospodinova.jpg" alt="Emma Gospodinova" />
            </div>
            <div class="featured_speaker">
                <span class="featured_speaker__name">
                    Members of the Rust Core Team: Aaron Turon, Niko Matsakis, &amp; Carol Nichols
                </span>
                <img class="featured_speaker__image" src="/assets/core-team.png" alt="Aaron Turon, Niko Matsakis, and Carol Nichols" />
            </div>
        </div>
        <p><a class="call-to-action" href="/sessions.html">See all the workshops and talks!</a></p>
    </div>

    <div class="tickets">
      <h2>Tickets</h2>
      <p><a class="call-to-action" href="https://www.eventbrite.com/e/rust-belt-rust-conference-2017-registration-36237335847">Buy Tickets</a></p>
      <p>General admission tickets are $200 ($75 for students). The RustBridge workshop on day 1 for people who are underrepresented in tech is free (a $20 deposit holds your spot and will be refunded to you when you arrive). If you are attending RustBridge as well as day 2, please choose a Day 2 general admission or student ticket as appropriate.</p>
    </div>

    <div class="sponsorship">
     <h2>Sponsors</h2>

      <p>
        Thank you to <a href="/sponsors.html">our wonderful sponsors</a>; this conference wouldn't be
        possible without their support!
      </p>
    </div>

    <div class="lodging">
        <h2>Lodging</h2>

        <p>
            Our reduced hotel rate at the Residence Inn Columbus
            Downtown is no longer available, but many conference
            attendees are staying there. You are encouraged to use
            your regular hotel-finding tools to get the best available
            rate!
        </p>
    </div>

    <div class="childcare">
        <h2>Childcare</h2>

        <p>If you will need childcare, please email <a href="mailto:organizers@rust-belt-rust.com">organizers@rust-belt-rust.com</a> as soon as possible. We will work with you to find a licensed childcare provider at your hotel and will provide a stipend to cover the cost.</p>
    </div>

    <div class="slack">
        <h2>Slack</h2>

        <p>
            We have <a href="https://rust-belt-rust-slack.herokuapp.com/">a
            Slack instance</a> that you are welcome to join. Potential
            topics include things to do around Columbus before,
            during, and after the conference; your Rust projects;
            ideas for the unconference; or just arranging meals!
        </p>
    </div>

    <div class="conduct">
        <h2>Conduct</h2>
        <p>
            Rust Belt Rust is dedicated to providing a harassment-free
            conference experience for everyone. <a href="/conduct.html">Please see
            our code of conduct for more details.</a>
        </p>
    </div>

    <p>
      <h2>Announcements</h2>
      To be notified of any announcements,
      please <a href="https://twitter.com/rustbeltrust">follow us on
      Twitter</a> or add yourself to our announcement mailing list:
    </p>

    <div class="announcements-subscribe">
      {% include announcement-subscribe-form.html %}
    </div>

    <span class="hero-attribution">
      Background image by <a href="https://www.flickr.com/photos/redarrow101/4780603745/in/photolist-8hrQWv-42p3WW-42jP7t-42pjSY-5UxjjZ-9EHDyy-42pfxQ-9EHDof-fdDUyd-fdEdLW-5SeeSX-4vBPqe-pXanM6-5tRWa4-5EpQSU-5tS3n6-5tWcC7-5tQWFZ-5tRSq8-5tVJhy-5tRWP6-9EHDtN-9R556N-2XCC2e-5tWgT7-5tRLsB-5tW9fb-pJVQms-gE4jRD-4vGx6S-4vGztU-4vGgeG-4vGcSu-4vG65A-5tRc8D-5tRDpa-5tVU9S-5tW7Vh-5tRJ6F-5tRR8P-5tVCWS-5tRjf2-5tStNm-5tTmBo-pEZCLu-pEYa56-4vG7By-4vGsxL-4vCbFp-4vCc7B">jpmueller99</a>, used under a <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY 2.0 license</a>
    </span>
  </div>
</div>
